/* site-color : #e8c14d*/
.card-deck * {
	transition: transform 0.3s, box-shadow 0.1s;
	backface-visibility: hidden;
}

/*
body, html {
	height: 100vh;
}
*/

body>* {
	background-color: #e8c14d;
}

.icon-big {
	font-size: 2rem;
	color: #e8c14d;
}

.icon-text {
	font-size: 1rem;
	color: #e8c14d;
}

a {
	text-decoration: none !important;
}

/*.jumbotron--medium {
	height: 12rem;
}*/

.shadow{
	box-shadow: 7px 8px rgba(0, 0, 0, 0.22) !important;
}

.raised-effect:hover {
	transform: scale(1.01, 1.01);
	box-shadow: 3px 5px rgba(0,0,0,0.22) !important;
}

.fa-shopping-cart {
	position: relative !important;
}

.item-count {
	display: inline;
	width:29px;
	height: 29px;
	border-radius: 50px;
	background-color: #d49f00ba;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(91%, -45%);
	transition: all 0.2s;
}

.item-count::before {
	content: attr(data-item-count);
	color: #c10000;
	font-size: 18px;
	position: absolute;
	transform: translate(106%, 28%);
}

.form-row {
	margin-bottom: 10px !important;
}

.form-container {
	margin: 0 auto;
	max-width: 40rem;
	padding: 2rem 5rem 2rem 5rem;
	box-shadow: 5px 5px 28px rgba(0,0,0, 0.22);

}

.container {
	height: 100vh;
}